@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Light.ttf");
  font-weight: lighter;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  height: 50px;
  background-color: #4D1F5B;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 0 52px 0;
}
@media screen and (min-width: 1440px) {
  .header {
    max-width: 1320px;
    margin: 0 auto;
  }
}
.header--home {
  background-image: url("../../assets/images/home-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
@media screen and (min-width: 1440px) {
  .header--home {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
.header--home .header__title {
  font-size: 36px;
  width: 100%;
  padding-top: 120px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header--home .header__title {
    font-size: 45px;
  }
}
.header--home .header__subtitle {
  font-size: 28px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header--home .header__subtitle {
    font-size: 33px;
  }
}
.header__title {
  font-size: 16px;
  text-decoration: underline;
}
.header__subtitle {
  font-size: 12px;
  font-weight: bold;
}

.footer {
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #8F8F8F;
  border-bottom: 20px solid #643762;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    border-bottom: none;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .footer {
    border-bottom: none;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1320px;
    border-radius: 20px;
    margin: 30px auto;
    border-bottom: none;
  }
}
.footer__container {
  margin: 50px 0 40px 0;
}
@media screen and (min-width: 768px) {
  .footer__container {
    margin-left: 40px;
  }
}
.footer__title {
  width: 100%;
  font-size: 20px;
  text-decoration: underline;
}
.footer__subtitle {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-top: -8px;
}
.footer__link {
  width: 100%;
  display: block;
  color: #8F8F8F;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 18px;
    display: inline;
    margin-right: 20px;
  }
}
.footer__nav {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    margin-right: 40px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main {
  text-align: center;
}
.main__text {
  margin: 0 auto;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .main__text {
    max-width: 400px;
  }
}
.main__header {
  width: 100vw;
  height: 35px;
  background-color: #BEA1C7;
  color: #4D1F5B;
  padding: 12px 0 42px 0;
}
@media screen and (min-width: 1440px) {
  .main__header {
    max-width: 1320px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0 auto;
  }
}
.main__title {
  font-weight: bold;
}
.main__container {
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  padding-bottom: 50px;
  margin: 60px auto;
}
@media screen and (min-width: 768px) {
  .main__container {
    font-size: 20px;
  }
}
.main__separator {
  width: 125px;
  height: 1px;
  background-color: #000000;
  margin: 25px auto 0 auto;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main__links {
    display: flex;
    height: 300px;
    background-color: #471D4F;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .main__links {
    display: flex;
    height: 300px;
    background-color: #471D4F;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1440px) {
  .main__links {
    display: flex;
    max-width: 1320px;
    border-radius: 20px;
    height: 300px;
    background-color: #471D4F;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
  }
}
.main__link {
  width: 100%;
  max-width: 280px;
  background-color: #EEE4F1;
  color: #471D4F;
  font-weight: bold;
  font-size: 24px;
  padding: 65px 0;
  border-radius: 100px;
  display: block;
  margin: 0 auto 55px auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__link {
    max-width: 500px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main__link {
    margin: 0 auto;
    max-width: 280px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .main__link {
    margin: 0 auto;
    max-width: 350px;
  }
}
@media screen and (min-width: 1440px) {
  .main__link {
    margin: 0 auto;
    max-width: 350px;
  }
}
.main__cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  margin: 0 auto;
  justify-content: space-between;
}
.main__button {
  width: 120px;
  height: 30px;
  background-color: #4D1F5B;
  border-radius: 25px;
  margin: 40px auto 65px auto;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
}
@media screen and (min-width: 768px) {
  .main__button {
    width: 150px;
    height: 40px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 25px auto;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card__header {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0 15px;
}
.card__name {
  font-size: 14px;
  font-weight: bold;
  color: #4D1F5B;
}
.card__status {
  width: 70px;
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
}
.card__status--alive {
  background-color: #81CE7F;
}
.card__status--dead {
  background-color: #D85252;
}
.card__status--unknown {
  background-color: #BBBBBB;
}
.card__box {
  display: flex;
  margin: 15px;
}
.card__img {
  height: 135px;
  margin-right: 15px;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
}
.card__title {
  font-size: 10px;
  font-weight: bold;
  color: #A6A6A6;
}
.card__subtitle {
  font-size: 14px;
  color: #D9D9D9;
}
.card__button {
  color: #4D1F5B;
  font-weight: bold;
  font-size: 12px;
  margin: 0 15px 15px 15px;
  background-color: #EEE4F1;
  border: none;
  border-radius: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    width: 350px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .card {
    width: 320px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .card {
    width: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 400px;
    margin: 25px 0;
  }
}

.details {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .details__header {
    margin: 40px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .details__header {
    margin: 70px 50px 70px 50px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .details__header {
    margin: 120px 90px 120px 45px;
  }
}
@media screen and (min-width: 1440px) {
  .details__header {
    margin: 120px 90px 120px 45px;
  }
}
@media screen and (min-width: 768px) {
  .details {
    flex-direction: row;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .details {
    max-width: 1024px;
    background-color: #FFFFFF;
    margin: 60px auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1440px) {
  .details {
    max-width: 1024px;
    background-color: #FFFFFF;
    margin: 60px auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.details__img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid #BEA1C7;
}
.details__name {
  font-size: 20px;
  font-weight: bold;
  color: #4D1F5B;
  margin-top: 20px;
  text-decoration: underline;
}
.details__container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .details__container {
    background-color: #FFFFFF;
    margin: 0;
    padding: 40px 30px 0 30px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .details__container {
    background-color: #FFFFFF;
    margin: 0 0 70px 0;
    padding: 70px 30px 0 30px;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .details__container {
    margin: 0 0 120px 0;
    padding: 120px 30px 0 30px;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .details__container {
    margin: 0 0 120px 0;
    padding: 120px 30px 0 30px;
    width: 100%;
  }
}
.details__status {
  width: 280px;
  margin: 0 auto 20px auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .details__status {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .details__status {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .details__status {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .details__status {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
.details__species {
  width: 280px;
  margin: 0 auto 20px auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .details__species {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .details__species {
    margin: 0 30px 20px 0;
    width: calc(33% - 30px);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .details__species {
    margin: 0 30px 20px 0;
    width: calc(33% - 30px);
  }
}
@media screen and (min-width: 1440px) {
  .details__species {
    margin: 0 30px 20px 0;
    width: calc(33% - 30px);
  }
}
.details__origin {
  width: 280px;
  margin: 0 auto 20px auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .details__origin {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .details__origin {
    margin: 0 30px 20px 0;
    width: calc(33% - 30px);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .details__origin {
    margin: 0 30px 20px 0;
    width: calc(33% - 30px);
  }
}
@media screen and (min-width: 1440px) {
  .details__origin {
    margin: 0 30px 20px 0;
    width: calc(33% - 30px);
  }
}
.details__location {
  width: 280px;
  margin: 0 auto 20px auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .details__location {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .details__location {
    margin: 0 30px 20px 0;
    width: calc(33% - 30px);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .details__location {
    margin: 0 30px 20px 0;
    width: calc(33% - 30px);
  }
}
@media screen and (min-width: 1440px) {
  .details__location {
    margin: 0 30px 20px 0;
    width: calc(33% - 30px);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .details__data {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .details__data {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .details__data {
    display: flex;
    flex-direction: row;
  }
}
.details__episodes {
  width: 280px;
  margin: 0 auto 20px auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .details__episodes {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .details__episodes {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .details__episodes {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .details__episodes {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
.details__title {
  font-size: 14px;
  font-weight: bold;
  color: #A6A6A6;
  text-align: justify;
  margin-bottom: 5px;
}
.details__info {
  font-size: 16px;
  color: #000000;
  background-color: #F2F2F2;
  text-align: justify;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 10px;
}
.details__location-info {
  font-size: 18px;
  color: #4D1F5B;
  background-color: #EEE4F1;
  border-radius: 20px;
  text-align: justify;
  padding-left: 10px;
}
.details__options {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  color: #000000;
  font-size: 14px;
  padding: 0 10px 0 10px;
}
.details__options--normal {
  background-color: #F2F2F2;
}
.details__options--alive {
  background-color: #81CE7F;
}
.details__options--dead {
  background-color: #D85252;
}
.details__options--unknown {
  background-color: #BBBBBB;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .details__options {
    justify-content: flex-start;
    margin: 0 10px 0 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .details__options {
    justify-content: flex-start;
    margin: 0 10px 0 0;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .details__options {
    justify-content: flex-start;
    margin: 0 10px 0 0;
  }
}
@media screen and (min-width: 1440px) {
  .details__options {
    justify-content: flex-start;
    margin: 0 10px 0 0;
  }
}
.details__numbers {
  display: flex;
  flex-wrap: wrap;
}
.details__number {
  width: 50px;
  height: 30px;
  font-size: 18px;
  color: #4D1F5B;
  background-color: #EEE4F1;
  border-radius: 20px;
  margin: 5px 8px 5px 8px;
}

body {
  background-color: #F9F9F9;
}

.header:hover {
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */