@import "utilities/variables";
@import "utilities/mixins";
@import "base/typo";
@import "base/reset";

.header{
    height: 50px;
    background-color: $color3;
    text-align: center;
    color: $color4;
    padding: 12px 0 52px 0;

    &--home{
        background-image: url("../../assets/images/home-img.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;

        .header__title{
            font-size: 36px;
            width: 100%;
            padding-top: 120px;

            @include adaptTo("tablet"){
                font-size: 45px;
            }
        }

        .header__subtitle{
            font-size: 28px;
    
            @include adaptTo("tablet"){
                font-size: 33px;
            }
        }
    }

    &__title{
        font-size: 16px;
        text-decoration: underline;
    }

    &__subtitle{
        font-size: 12px;
        font-weight: bold;
    }
}

.main{
    text-align: center;

    &__header{
        width: 100vw;
        height: 35px;
        background-color: $color9;
        color: $color3;
        padding: 12px 0 42px 0;
    }

    &__title{
        font-weight: bold;
    }

    &__container{
        font-size: 16px;
        width: 100%;
        max-width: 400px;
        padding-bottom: 50px;
        margin: 60px auto;

        @include adaptTo("not-mobile"){
            font-size: 20px;
        }
    }

    &__separator{
        width: 125px;
        height: 1px;
        background-color: $color15;
        margin: 25px auto 0 auto;
    }

    &__link{
        width: 100%;
        max-width: 500px;
        background-color: $color5;
        color: $color16;
        font-weight: bold;
        font-size: 24px;
        padding: 65px 0;
        border-radius: 100px;
        display: block;
        margin: 0 auto 55px auto;
    }
}

.footer{
    background-color: $color8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $color7;
    border-bottom: 20px solid $color12;

    &__container{
        margin: 50px 0 40px 0;

        @include adaptTo("not-mobile"){
            margin-left: 40px;
        }
    }

    &__title{
        width: 100%;
        font-size: 20px;
        text-decoration: underline;
    }

    &__subtitle{
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        margin-top: -8px;
    }

    &__link{
        width: 100%;
        display: block;
        color: $color7;
        margin-bottom: 12px;

        @include adaptTo("not-mobile"){
            font-size: 18px;
            display: inline;
            margin-right: 20px;
        }
    }

    &__nav{
        padding-bottom: 50px;

        @include adaptTo("not-mobile"){
            margin-right: 40px;
            padding: 0;
        }
    }
    
    @include adaptTo("not-mobile"){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

