$color1: #A6A6A6;
$color2: #D9D9D9;
$color3: #4D1F5B;
$color4: #FFFFFF;
$color5: #EEE4F1;
$color6: #81CE7F;
$color7: #8F8F8F;
$color8: #F3F3F3;
$color9: #BEA1C7;
$color10: #C1B6B6;
$color11: #F9F9F9;
$color12: #643762;
$color13: #BBBBBB;
$color14: #D85252;
$color15: #000000;
$color16: #471D4F;